# Unit 6. 변수와 입력

## 6.1 변수

- 영문 문자와 숫자를 사용할 수 있습니다.
- 대소문자를 구분합니다.
- 문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.
- _(밑줄 문자)로 시작할 수 있습니다.
- 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.
- 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

In [1]:
x = 10
x

10

In [3]:
s = 'hello world!'
s

'hello world!'

In [4]:
type(x), type(s)

(int, str)

In [5]:
# 파이썬에서는 변수 여러 개를 한 번에 만들 수도 있습니다.
x, y, z = 10, 20, 30
x, y, z

(10, 20, 30)

In [6]:
x = y = z = 10
x, y, z

(10, 10, 10)

In [7]:
# 변수 삭제는 del을 사용
del z
print(z)

NameError: ignored

In [10]:
# 빈값(Null) 할당
x = None
print(x)

None

## 6.2 변수로 계산

In [11]:
a = 10
a = a + 10
a

20

In [12]:
a = 10
a += 10     # a = a + 10
a

20

In [14]:
sum, prod = 0, 1
for i in range(1,11):
  sum += i
  prod *= i

sum, prod

(55, 3628800)

In [15]:
-prod

-3628800

In [16]:
prod

3628800

## 6.3 입력(input)

In [17]:
input()

holly

'holly'

In [19]:
x=input()

hello world

In [22]:
x = input('1에서 10 사이의 정수값> ')       #propmpt
print(x)

1에서 10 사이의 정수값> 7
7

In [23]:
# 입력한 두 정수의 합
a = input('첫번째 정수 > ')
b = input('두번째 정수 > ')
a+b

첫번째 정수 > 101
두번째 정수 > 303

'101303'

In [24]:
type(a)

str

In [25]:
a = input('첫번째 정수 > ')
b = input('두번째 정수 > ')
int(a)+int(b)

첫번째 정수 > 010
두번째 정수 > 435

445

In [26]:
a = int(input('첫번째 정수 > '))
b = int(input('두번째 정수 > '))
a+b

첫번째 정수 > 101
두번째 정수 > 879

980

## 6.4 입력값 두개

In [28]:
s.split()

['hello', 'world!']

In [29]:
a,b  = s.split()
a,b

('hello', 'world!')

In [30]:
a,b,c = 'a quick brown'.split()       #()비어있으면 기본 구분자는 space(1)
a,b,c

('a', 'quick', 'brown')

In [34]:
a, b = input('정수 두개 입력> ').split()

정수 두개 입력> 10 20

In [35]:
a = int(a)
b = int(b)
a+b

30

In [36]:
a, b = input('정수 두개 입력, comma로 구분하세요> ').split(',')

정수 두개 입력, comma로 구분하세요> 10, 20

In [37]:
a = int(a)
b = int(b)
a+b

30

### map 활용
- 리스트 각 엘리먼트에 지정한 함수를 적용

In [38]:
a, b = map(int, [10.2, 11.4])
a,b

(10, 11)

In [39]:
a, b  = map(int, input('정수 두개 입력> ').split())
a+b

정수 두개 입력> 15 23

38

In [41]:
import math
a, b = map(math.sqrt, [1,4])
a,b

(1.0, 2.0)