# 15.4 심사문제: 교통카드 시스템 만들기
표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.

어린이(초등학생, 만 7세 이상 12세 이하): 650원
청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원
어른(일반, 만 19세 이상): 1,250원

In [13]:
val_card = 9000
#val_age = int(input())
val_age = 19

if val_age >= 7:
    if val_age<=12:
        val_card -= 650
    elif 13<=val_age<=18:
        val_card -= 1050
    else:
        val_card -= 1250
    print(val_card)
else:
    print("7이상을 입력 해야 합니다.")

7750

In [ ]:
if age >= 7:
    if age<=12:
        balance -= 650
    elif 13<=age<=18:
        balance -= 1050
    else:
        balance -= 1250

# 16.6 심사문제: 구구단 출력하기
- 표준 입력으로 정수가 입력됩니다. 
- 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 
- 출력 형식은 숫자 * 숫자 = 숫자처럼 만들고 숫자와 *, = 사이는 공백을 한 칸 띄웁니다.

In [17]:
int_dan = int(input())

for y in range(1, 10):
    print(int_dan, "*", y, "=", int_dan*y)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

# 17.6 심사문제: 교통카드 잔액 출력하기


-표준 입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350원이고, 
     교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요

- (input에서 안내 문자열은 출력하지 않아야 합니다). 

-단, 최초 금액은 출력하지 않아야 합니다. 

- 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

In [1]:
#val_card = int(input())
val_card = 9000

while val_card >= 1350:    
    val_card -= 1350
    print(val_card)

7650
6300
4950
3600
2250
900

In [ ]:
amount = int(input())
while amount >= 1350:    
    amount -= 1350
    print(amount)

# 18.6 심사문제: 두 수 사이의 숫자 중 3으로 끝나지 않는 숫자 출력하기
    -표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~200, 두 번째 입력 값의 범위는 10~200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 
    -다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요. 
    -정답에 코드를 작성할 때는 while True:에 맞춰서 들여쓰기를 해주세요.

In [7]:
start, stop = map(int, input().split())
 
i = start
 
while True:
    if i % 10 == 3:
        i += 1
        continue
    if i > stop:
        break 
    print(i, end=' ')
    i += 1

20 21 22 24 25 26 27 28 29 30 31 32 34 35 36 37 38 39 40 41 42 44 45 46 47 48 49 50 51 52 54 55

# 19.6 심사문제: 산 모양으로 별 출력하기
    - 표준 입력으로 삼각형의 높이가 입력됩니다. 
    - 입력된 높이만큼 산 모양으로 별을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 
    - 이때 출력 결과는 예제와 정확히 일치해야 합니다. 
    - 모양이 같더라도 공백이나 빈 줄이 더 들어가면 틀린 것으로 처리됩니다.

In [12]:
height = int(input())

for i in range(height):
    for j in reversed(range(height)):
        if j > i:
            print(' ', end='')
        else:
            print('*', end='')

    for j in range(height):
        if j < i:
            print('*', end='')
    print()

*
**
***
****
*****
******
*******
********