# Unit 22. 리스트, 튜플 응용

## 22.1 리스트 조작

In [8]:
a = [10,20,30]

In [9]:
# 리스트 맨 뒤에 구성요소 하나를 추가하는 메소드(method)
a.append(500)

[10, 20, 30, 500]

In [11]:
a.append(["x","y"])
print(a)

[10, 20, 30, 500, ['x', 'y']]

In [12]:
b = [10,20,30]
b.extend(["x","y"])
print(b)

[10, 20, 30, 'x', 'y']

In [13]:
# append는 반복문에서 주로 사용하게 된다.
empty_list = []
for i in range(5):
    empty_list.append(i)
    
print(empty_list)

[0, 1, 2, 3, 4]

In [14]:
print(a)
del a[4]
print(a)

[10, 20, 30, 500, ['x', 'y']]
[10, 20, 30, 500]

### stack and queue

In [16]:
stack = []
#stack에 push
stack.append(1); stack.append(2); stack.append(3);
print(stack)

[1, 2, 3]

In [17]:
#stack으로부터 pop
value = stack.pop()
print(value, stack)

3 [1, 2]

In [18]:
queue = []
#queue에 insert
queue.insert(0,1);queue.insert(0,2);queue.insert(0,3)
print(queue)

[3, 2, 1]

In [19]:
#queue로부터 꺼내기
print(value, queue)
value = queue.pop()
print(value, queue)

3 [3, 2, 1]
1 [3, 2]

### 다양한 메소드

In [21]:
a = [10,20,30,40,50,60]
a.index(30)     #, a.index(45)

2

In [22]:
if 45 in a:
    print(a.index(45))

In [23]:
num = 45

if num in a:
    print(a.index(num))

In [24]:
a.count(10)

1

In [25]:
a.count(45)

0

In [26]:
a = [10,20,30,40,50,10]
a.index(30), a.index(40)

(2, 3)

In [28]:
# 원본을 정렬시켜 변경시킨다.파괴적 함수
a = [20,10,15,30,40]
a.sort()
print(a)

[10, 15, 20, 30, 40]

In [29]:
# 비 파괴적 함수
a = [20,10,15,30,40]
print(sorted(a))

[10, 15, 20, 30, 40]

In [31]:
#역순 정렬 하고싶을땐 reverse옵션
a = [20,10,15,30,40]
a.sort(reverse = True)
print(a)

[40, 30, 20, 15, 10]

## 22.2 리스트 할당과 복사

In [32]:
a = [0,0,0,0,0]
b = a               # Shallow copy로 주소값만을 공유함으로 데이터가 변경되면 동일값을 갖는다.
print(b)

[0, 0, 0, 0, 0]

In [33]:
b[2] = 999

In [34]:
print(a)
print(b)

[0, 0, 999, 0, 0]
[0, 0, 999, 0, 0]

In [36]:
a = [0,0,0,0,0]
b = a.copy()
print(b)
b[2] = 77888
print(b)
print(a)

[0, 0, 0, 0, 0]
[0, 0, 77888, 0, 0]
[0, 0, 0, 0, 0]

## 22.3 리스트와 반복문

In [40]:
for fruit in ["apple","banana","cherry","watermelon"]:
    print(fruit)

apple
banana
cherry
watermelon

In [42]:
fruits = ["apple","banana","cherry","watermelon"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry
3 watermelon

In [43]:
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry
watermelon

## 22.4 리스트에서 min, max, sum 함수 활용

In [47]:
a = [38,21,53,62,19]
a.sort()
print(a[0])
print(a[-1])

19
62

In [48]:
a = [38,21,53,62,19]
print(sorted(a)[0])

19

In [50]:
# a 배열요소의 합
# sum은 함수명이기에 변수명으로 사용하지 않을것!!
sum_of_list = 0

for elem in a:
    sum_of_list += elem

sum_of_list, sum(a)

(193, 193)

## 22.5 리스트 표현식(Compreshension)

In [51]:
[ fruit for fruit in fruits]

['apple', 'banana', 'cherry', 'watermelon']

In [52]:
[fruit*index for index, fruit in enumerate(fruits)]

['', 'banana', 'cherrycherry', 'watermelonwatermelonwatermelon']

In [54]:
[ i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
list(i*i for i in range(1,11))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
sq_list = []
for i in range(1,11):
    sq_list.append(i*i)

print(sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 표현식에서 if 조건문 사용하기

In [59]:
[i*i for i in range(1,11,2)]

[1, 9, 25, 49, 81]

In [60]:
[i*i for i in range(1,11) if i%2 == 1]

[1, 9, 25, 49, 81]

### for가 여러번 나오게 할 수 있다.

In [62]:
# 구구단
a = [i*k for i in range(2,10) for k in range(1,10) ]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [63]:
a = [i*k for i in range(2,10) 
            for k in range(1,10) ]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 22.6 map

In [64]:
a = [1.2, 2.3, 3.5, 4.8]
for i in range(len(a)):
    a[i] = int(a[i])

print(a)

[1, 2, 3, 4]

In [66]:
a = [1.2, 2.3, 3.5, 4.8]
for i, val in enumerate(a):
    a[i] = int(val)

print(a)

[1, 2, 3, 4]

In [67]:
a = [1.2, 2.3, 3.5, 4.8]
a = list(map(int,a))
print(a)

[1, 2, 3, 4]

In [68]:
#맵은 지정된 함수를 각 element에 적용한다.
a = [1.2, 2.3, 3.5, 4.8]
a = list(map(lambda x: x*x,a))
print(a)

[1.44, 5.289999999999999, 12.25, 23.04]

## 22.7 tuple

In [70]:
tuple(i*i for i in range(1,10) if i%2 ==0 )

(4, 16, 36, 64)

- a + b + c = 1000(a<b<c)
- a*a + b*b = c*c인 피타고라스 수는?