# Unit 14. else

In [1]:
x=5
if x==10:
  print('10 입니다.')
else:
  print('It is not 10.')

It is not 10.

### 3항 연산자
- Java, JS: a=(조건)? 참일때의 값 : 거짓일때의 값
- 파이썬 : a = 참일때의 값 if 조건 else 거짓일때의 값

In [2]:
x=1
if x % 2 ==0:
  y = 'even'
else:
  y = 'odd'
y

'odd'

In [3]:
y = 'even' if x%2 == 0 else 'odd'
y

'odd'

In [11]:
# 90점 이상이면 'A', 80~89 :'B', 70 !79 : C, 60~69 : D, ~59: F

score = int(input('점수 입력> '))
if score>=90:
  print('A')
if 80<=score<90:
  print('B')
if 70<=score<80:
  print('C')
if 60<=score<70:
  print('D')
else:
  print('F')

점수 입력> 50
F

In [13]:
score = int(input('점수 입력> '))
if score>=90:
  grade = 'A'
else:
  if score>80:
    grade = 'B'
  else:
    if score>70:
      grade = 'C'
    else:
      if score>60:
        grade = 'D'
      else:
        grade = 'F'

print(grade)

점수 입력> 88
B

In [14]:
score = int(input('점수 입력> '))

grade = 'A' if score >= 90 else \
              'B' if score >= 80 else \
                  'C' if score >= 70 else \
                      'D' if score >= 60 else 'F'
grade

점수 입력> 30

'F'

In [15]:
score = int(input('점수 입력> '))

grade = 'A' if score >= 90 else 'B' if score >= 80 else 'C' if score >= 70 else 'D' if score >= 60 else 'F'
grade

점수 입력> 99

'A'